<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://quiz123-azuresqlconnection.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>quiz123-azuresqlconnection.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>quiz123__AzureSqlConnection</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$quiz123__AzureSqlConnection</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QuizDBConn" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:gdcrezhyuz.database.windows.net,1433;Initial Catalog=MamunSqlServer;User ID=sheikhmamun@hotmail.com@gdcrezhyuz;Password=Admin.123" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=gdcrezhyuz.database.windows.net;Initial Catalog=QuizDB;Persist Security Info=False;User ID=sheikhmamun@hotmail.com@gdcrezhyuz;Password=Admin.123;Pooling=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QuizDBConn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:gdcrezhyuz.database.windows.net,1433;Data Source=gdcrezhyuz.database.windows.net;Initial Catalog=QuizDB;Persist Security Info=False;User ID=sheikhmamun@hotmail.com@gdcrezhyuz;Password=Admin.123;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuizDBConn-Web.config Connection String">
      <ParameterValue>data source=tcp:gdcrezhyuz.database.windows.net,1433;initial catalog=MamunSqlServer;user id=sheikhmamun@hotmail.com@gdcrezhyuz;password=Admin.123;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>