<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://quiz123.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>quiz123.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>quiz123</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$quiz123</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QuizDBConn" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=e5d13b03-90f1-4fe0-917d-a3fc00af1998.sqlserver.sequelizer.com;Initial Catalog=dbe5d13b0390f14fe0917da3fc00af1998;User ID=tqaznnnbtkcscqfm;Password=Rfrvw2kYPkH2MKBvhTT745U7YHk8BJZXvuXLyZe4Bipv7Nxj6SKs2pGVtsEVPmwe" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QuizDBConn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=e5d13b03-90f1-4fe0-917d-a3fc00af1998.sqlserver.sequelizer.com;Database=dbe5d13b0390f14fe0917da3fc00af1998;          User ID=tqaznnnbtkcscqfm;Password=Rfrvw2kYPkH2MKBvhTT745U7YHk8BJZXvuXLyZe4Bipv7Nxj6SKs2pGVtsEVPmwe;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuizDBConn-Web.config Connection String" />
  </ItemGroup>
</Project>